html {
    font-size: 11pt;
}

#topbar,
main,
#footerWrap,
#headerNavWrap {
    width: 100%;
}

main {
    box-sizing: border-box;
}

#sidebarMenuButton {
    line-height: 4;
}


#footerWrap {
    width: 100%;
}

#footerNav {
    margin-bottom: 1.5rem;
}

#footerNav li {
    display: block;
    margin-bottom: .5rem;
}

#logoWrapFooter {
    float: none;
    margin-bottom: var(--gap);
    margin-left: 0;
}

#saveResult {
    height: 2rem;
}