html,
body {
    height: 100%;
}

body,
main,
fieldset,
input,
label,
h1,
ul,
p {
    padding: 0;
    margin: 0;
    border: none;
}

ul {
    list-style: none;
}

input,
button {
    font: inherit;
}

html {
    font-size: 14pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #332d2a;
    background-color: #EDEDE9;
}

main {
    margin: 0 auto;
    width: 40rem;
    padding: 2rem 0;
}


header {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 1rem;
}

#tagline {
    margin: auto;
    display: block;
    width: 30rem;
}

a {
    text-decoration: none;
    color: #333533;
}

.button {
    cursor: pointer;
    cursor: hand;
}

input[type=number] {
    -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#list {
    display: block;
    text-align: left;
}

#list li {
    margin-bottom: 1rem;
    padding: 1rem;
    background: white;
    border-radius: .3rem;
    position: relative;
}

#list form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}

#list fieldset {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(5, 1fr);
    gap: .5rem;
}

#formInput label,
#formResult label {
    grid-column-start: 1;
    grid-column-end: 3;
}

#formResult label.calendar-row {
    grid-column-start: 1;
    grid-column-end: 2;
}

#formResult span.calendar-row {
    grid-column-start: 2;
    grid-column-end: 4;
}


/* #formResult {
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: repeat(4, 1fr);
    gap: .5rem;
} */

#formInput {
    padding: 1rem 0;
}

#list label,
#list fieldset span {
    line-height: 2.6rem;
}

#formInput input {
    padding: .5rem;
    height: 1.5rem;
    max-width: 100%;
}

/*
 #list form span {
    display: block;
    line-height: 2.6rem;
} 

*/
#list form input {
    border: 1px solid #332d2a;
    border-radius: 3px;
}




#formResult {
    padding: 1rem;
    background-color: #F5EBE0;
}

#formResult a:hover {
    background-color: #E3D5CA;
}

.del {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: .5rem;
    right: .5rem;

    line-height: 2rem;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #bc7070;
    border-radius: .3rem;
}

.del:hover {
    color: #6c3939;
    background-color: #f8ecec;
}

#saveResultWrap {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

#saveResult {
    width: 12rem;
    height: 100%;

    color: #332d2a;

    font-weight: normal;
    background-color: #F5CB5C;
    border: 0;
    border-radius: .3rem;

}

#saveResult:hover {
    background-color: #e6be56;
}

#summLabel,
#summValue {
    display: none;
}

#summValue {
    font-weight: bold;
}