/* reset */

html,
body {
    height: 100%;
}

body,
main,
fieldset,
input,
label,
h1,
ul,
p {
    padding: 0;
    margin: 0;
    border: none;
}

ul {
    list-style: none;
}

input,
button {
    font: inherit;
}

html {
    font-size: 14pt;
    font-family: 'Barlow', Verdana, sans-serif;
    color: #2a2f33;
    background-color: #ebf0f4;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
main {
    margin: 0 auto;
    width: 40rem;
}

/* topbar */

#topbar {
    height: 2.5rem;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

#logoWrap {
    width: 0;
    display: flex;
}

#logo {
    width: 6.5rem;
    filter: brightness(0) invert(20%) hue-rotate(210deg);
}

#logoWrap a:hover #logo {
    filter: brightness(0) invert(50%) hue-rotate(210deg);
}

#headerNav {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    height: 5rem;
}

#headerNav li a,
#headerNav li span {
    padding: .6rem 1rem;
    line-height: 4rem;
    border-radius: 2rem;
}

#headerNav li a:hover {
    background-color: #d7e0e6;
}


#topbar .selected span {
    background-color: #cbd4d9;
}

/* footer */

footer {
    background-color: #cbd4d9;
    padding: 2rem 2rem 3rem;
    color: #667079;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: #2a2f33;
}

footer a:hover {
    color: #667079;

}

hr {
    border: 1px solid #b8c0c8;
}

#footerLinks p {
    flex: 1 1 auto;
}

#footerLinks {
    display: flex;
    align-items: center;
    justify-content: left;
}

#footerNav {
    margin-bottom: 1rem;
}

footer hr {
    margin: 1rem 0;
}

#logoWrapFooter {
    width: 0;
    text-align: right;
    direction: rtl;
}

#logoCI {
    width: 6.5rem;
    filter: brightness(0) invert(47%) sepia(100%) hue-rotate(140deg) saturate(20%);
}

/* main */

main {
    flex-grow: 1;
    padding: 2rem 0;
}


main header {
    text-align: center;
    margin-bottom: 2rem;
}

h1 {
    margin-bottom: 1rem;
}

#tagline {
    margin: auto;
    display: block;
    width: 30rem;
    font-family: "DomaineText", Georgia, serif;
}

a {
    text-decoration: none;
    color: #333435;
}

.button {
    cursor: pointer;
    cursor: hand;
}

input[type=number] {
    -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#list {
    display: block;
    text-align: left;
}

#list li {
    margin-bottom: 1rem;
    padding: 1rem;
    background: white;
    border-radius: .3rem;
    position: relative;
}

#list form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1rem;
}

#list fieldset {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(5, 1fr);
    gap: .5rem;
}

#formInput label,
#formResult label {
    grid-column-start: 1;
    grid-column-end: 3;
    /* color: #807169; */
}

#formResult label.calendar-row {
    grid-column-start: 1;
    grid-column-end: 2;
}

#formResult span.calendar-row {
    grid-column-start: 2;
    grid-column-end: 4;
}


/* #formResult {
    display: grid;
    grid-template-columns: 5rem auto;
    grid-template-rows: repeat(4, 1fr);
    gap: .5rem;
} */

#formInput {
    padding: 1rem 0;
}

#list label,
#list fieldset span {
    line-height: 2.6rem;
}

#formInput input {
    padding: .5rem;
    height: 1.5rem;
    max-width: 100%;
    border: 1px solid #2a2f33;
    border-radius: 3px;
}

/*
 #list form span {
    display: block;
    line-height: 2.6rem;
} 

*/

#formResult {
    padding: 1rem;
    background-color: #e0ebf5;
}

#formResult a:hover {
    background-color: #cad7e3;
}

.del {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: .5rem;
    right: .5rem;

    line-height: 2rem;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    color: #bc7070;
    border-radius: .3rem;
}

.del:hover {
    color: #6c3939;
    background-color: #f8ecec;
}

#saveResultWrap {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

#saveResult {
    width: 12rem;
    height: 100%;

    color: #2a2f33;

    font-weight: normal;
    background-color: #ffcc66;
    border: 0;
    border-radius: 2rem;

}

#saveResult:hover {
    background-color: #ffbb33;
}

#summLabel,
#summValue {
    display: none;
}

#summValue {
    font-weight: bold;
}